<% include partials/header %>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
           <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="carousel-inner">
          <div class="item active  peopleCarouselImg">
           <video width="100%" autoplay loop>
              <source src="https://ak0.picdn.net/shutterstock/videos/5023910/preview/stock-footage-overhead-view-of-fun-rides-several-thrill-rides-can-be-seen-overhead-and-some-big-buildings-from.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="carousel-caption">
                Welcome to a Priceless Summer Experience
            </div>
          </div>
           <div class="item  peopleCarouselImg">
             <video width="100%" autoplay loop>
              <source src="https://ak5.picdn.net/shutterstock/videos/2494355/preview/stock-footage-children-in-the-amusement-park.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="carousel-caption">
               Make your vacation more epic with our special events
            </div>
          </div>
          <div class="item  peopleCarouselImg">
            <img src="https://www.holland.com/static/design/1D61277E-6984-4BD1-A956-E7D3833D78A9-DDA6-fsm/gfx/background.jpg" alt="New york" style="width:100%;">
            <div class="carousel-caption">
              Check out our rides and slides and Live the thrills!
            </div>
          </div>
        </div>
        </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
      </div>
  </div>
  </div>
  </div>
  <div class="container twitter">
    <div class="row">
      <div class="col-lg-6">
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/Wonderla" data-widget-id="989234521181573120">#Wonderla Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="col-lg-6">
        <div>
        <img width="600" src="https://i.ytimg.com/vi/Wl-Ap2yUjYQ/maxresdefault.jpg">
          <h2 class="card-title" style="bold">Special Offers </h2>
          <p style="font-size:20px">Check out our specially crafted hotel packages just for you! Pair an overnight stay with park tickets for the best value. 
          Plus, hotel guests receive special perks like Early Entry, 
          complimentary parking, and more!</p>
          <a href="/tickets" class="btn btn-lg btn-primary">Click Here</a>
      </div>
    </div>
  </div>

  <br><br>
  
  
<% include partials/footer %>