<!--Login Page-->
<!--<form action="/register" method="POST">-->
<!--    UserName:<input type="text" name="name">-->
<!--    Password:<input type="password" name="password">-->
<!--    <input type="submit" value="submit">-->
<!--</form>-->

<% include partials/header %>
<div class='container'>
<div class="row">
  <h1 style="text-align:center;"> Enter UserName and Password to Create an Account</h1>
   <div style="width:60%; margin:30px auto;">
           <form action="/register" method ="POST">
               <div class="form-group">
                   USERNAME:
                <input class="form-control" type="text"  name="name" placeholder="userName">
               </div>
                   PASSWORD: 
               <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
               </div>

               <div class="form-group">
                   <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
               </div>
           </form>
        </div>
    </div>
</div>
<% include partials/footer %>