<% include partials/header %>
   
   <div class="container tickets">
       <div class="row text-center">
           <% tickets.forEach((ticket) => { %>
             <div class="col-lg-3 col-sm-12">
                 <div class="thumbnail">
                      <img src="<%=ticket.image%>">
                      <div class="caption">
                          <h2 class="name"><%= ticket.name %> </h2>
                      </div>
                      <span class="price"> $<%= ticket.price %>.00</span>
                      <br><br>
                      <p>
                        <a href="" class="btn btn-primary btn-lg">More Info</a>
                      </p>
                 </div>
             </div>
            <% }) %>
        </div>
   </div>
   
   <br><br>
<% include partials/footer %>